<div class="container">
  <div class="col-50" layout="row" layout-align="center center">
    <dragonball-saiyans-list
      [saiyans]="allSaiyans$ | async"
      (selected)="selectSaiyan($event)"
      (deleted)="deleteSaiyan($event)"
    ></dragonball-saiyans-list>
  </div>
  <div class="col-50" layout="row" layout-align="center center">
    <dragonball-saiyan-details
      [saiyan]="selectedSaiyan$ | async"
      (saved)="saveSaiyan($event)"
      (cancelled)="resetSaiyan()"
      [form]="form"
    ></dragonball-saiyan-details>
  </div>
</div>
